* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

header{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%) translateY(-50%);
}

h1{
    color: white;
    font-size: 3.5em;
    text-shadow: 3.5px 3.5px 4px red;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}

.container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 150px;
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 150px;
    background: linear-gradient(315deg, #4dff03, #00d0ff);
    filter: blur(30px);
}

.container .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}

.container .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.container .box .clock{
    position: relative;
    color: ivory;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 5em;
    font-weight: 20px;
    z-index: 10;
    padding: 20px 40px;
}

p{
    margin-top: 40em;
    margin-right: -9em;
}

a{
    text-decoration: none;
    color: ivory;
}

a:hover{
    color: rgb(253, 222, 84);
    cursor: pointer;
}